<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
  <test name="Test Basics 1">
      <parameter name="name" value="souvik"/>
      <parameter name="number" value="9876543210"/>
      <parameter name="location" value="lulu mall bangalore"/>
      <parameter name="email" value="test@example.com"/>
      
      <classes>
      <class name="com.simplilearn.PizzahutTestNgProject.excelDataProvider"/>
      </classes>
     
  </test> <!-- Test -->
</suite> <!-- Suite -->