<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SuiteAll">
<listeners>
		<listener class-name="Infosys.SeleniumDemo.TestListener" />
	</listeners>
  <test name="Test">
 
    <classes>
      <class name="Infosys.SeleniumDemo.FlipkartPageTesting"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->